body {
        font-family: "Roboto", sans-serif;
        margin: 0 auto;
        padding: 0;
        background-color: var(--background-color);
        color: #333; /* Dark grey for text*/
        text-align: center;
        max-width: 1000px;
        padding-bottom: 4rem;
      }

      :root {
        --primary-color: #0275d8; /* Example primary color */
        --secondary-color: #4caf50; /* Example secondary color */
        --background-color: #f4f4f4; /* Example background color */
      }

      button {
        background-color: var(--primary-color);
        color: white;
        /* rest of your button styles */
      }

      button:hover {
        background-color: var(--secondary-color);
      }
      button:focus,
      button:active {
        outline: none;
        box-shadow: 0 0 0 2px var(--secondary-color); /* Adds a shadow for focus/active */
      }

      /* Adjust as necessary for different elements */

      h1 {
        color: #0275d8;
      }

      p,
      div {
        margin: 10px 0;
      }

      button {
        background-color: #0275d8;
        color: white;
        border: none;
        padding: 15px 30px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #025aa5;
      }

      #map,
      #userMap {
        height: 700px;
        width: 90%;
        margin: 20px auto;
        border: 1px solid #ddd;
        border-radius: 8px;
      }

      #status,
      #distanceInfo {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 90%;
        margin: 20px auto;
      }

      #compassBox {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 90%;
        margin: 20px auto;
        text-align: left;
      }

      #compassArrow {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url("arrow.png");
        /* Replace with the path to your arrow icon */
        background-size: cover;
        margin-right: 10px;
      }

      #about p {
        text-align: left;
      }

      #mediaControls {
        text-align: center;
        margin-top: 20px;
      }

      #mediaControls button {
        background-color: #4caf50; /* Green background */
        color: white;
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      #mediaControls button:hover {
        background-color: #45a049;
      }

      #map,
      #userMap {
        height: 500px; /* Adjust height as needed */
        width: 100%; /* Full width of the container */
        max-width: 1000px; /* Max width to contain on the screen */
        margin: 20px auto;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #e0e0e0; /* Placeholder background color */
        background-image: url("path/to/your/placeholder-image.png"); /* Placeholder image */
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      @media screen and (max-width: 768px) {
        /* Styles for screens smaller than 768px */
        body {
          font-size: 16px; /* Larger font size for readability */
        }

        #map,
        #userMap {
          height: 300px; /* Smaller maps for mobile */
        }

        #mediaControls button {
          padding: 8px 15px; /* Smaller buttons for mobile */
        }
      }

      @media screen and (min-width: 769px) {
        /* Styles for screens larger than 768px */
        body {
          font-size: 18px; /* Adjust font size for desktop */
        }

        #map,
        #userMap {
          height: 500px; /* Larger maps for desktop */
        }
      }
